use Mix.Config

config :phoenix_boilerplate, PhoenixBoilerplate.Repo,
  # ssl: true,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ db_username }}",
  password: "{{ db_password }}",
  database: "{{ db_username }}",
  hostname: "{{ db_hostname }}",
  pool_size: String.to_integer(System.get_env("POOL_SIZE") || "10")

config :phoenix_boilerplate, PhoenixBoilerplateWeb.Endpoint,
  http: [
    port: String.to_integer(System.get_env("PORT") || "4000"),
    transport_options: [socket_opts: [:inet6]]
  ],
  secret_key_base: "{{ secret_key_base }}"

config :phoenix_boilerplate, PhoenixBoilerplateWeb.Endpoint, server: true
